
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.about-body {
  width: 100%;
  background-color: #fff !important;
  background-image: none !important;
}
/* Hero section */

.hero-sec {
  height: 100vh;
  width: 100%;
}

.img-div {
  width: 100%;
}

.img-div img {
  width: 70%;
}
/* Section 2 */

.sec-2 {
  background: url(../images/about-us-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
}

.sec-2-div {
  font-size: 10%;
}

.button {
  background-color: rgb(223, 134, 26) !important;
}



/* Footer */

.about-lists {
  list-style-type: none;
}

li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.footer-img {
  margin-top: 20px;
  width: 8rem;
}

@media screen and (max-width: 768px) {
  .hero-sec {
    height: fit-content;
  }

  .img-div img {
    width: 70%;
  }

  .hero-info {
    width: 100% !important;
    font-size: 1rem;
  }

  .footer-img {
    margin-top: 50px;
  }
}