@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

html, body {
  width: 100%;
}
.sorting {
  background-color: #FE8D00 !important;
}

.white-box {
  width: 300px !important;
  margin: 10px !important;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  color: #333;
}

.data {
  border-radius: 10px;
  margin: 10px !important;
  width: 300px !important;
}

.data-img {
  width: 300px !important;
}

/* .sorting {
  height: fit-content;
} */


/* Navbar */

#heading{
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.navbar{
  font-weight: 200;
}

.img{
  width: 10rem;
}

.pressme{
  background-color:#FE8D00;
  color: white;
  border-radius: 10px;
  border: none;
  margin: 0px 8px;
  padding: 8px 10px;

}

.pressme:hover{
  background-color: #c56f06;
}

@media screen and (max-width: 768px) {
  .pressme {
    margin: 10px 0px;
  }

  .img {
    width: 6rem;
  }

}


